.servicesPage {
  margin-top: 100px;
  margin-bottom: 100px;

  .servicesPage__boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
  }

  &__item {
    width: 100%;
    max-width: 416px;
    padding: 30px;
    border-radius: 40px;
    background-color: white;
    border-bottom-right-radius: 4px;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);

    i {
      margin-bottom: 23px;
      font-size: 26px;
      background-image: linear-gradient(
        127deg,
        rgba(0, 136, 204, 0.8) 0%,
        rgba(254, 127, 45, 0.8) 91%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-transition: all 0.3s ease 0s;
    }

    h2 {
      font-size: 16px;
      font-weight: 400;
      color: #3b566e;
    }

    p {
      margin-top: 23px;
      font-size: 14px;
      color: #6f8ba4;
      letter-spacing: 1px;
    }

    &:hover {
      background-image: linear-gradient(
        127deg,
        rgba(0, 136, 204, 0.8) 0%,
        rgba(254, 127, 45, 0.8) 91%
      );
    }

    &:hover i {
      background-image: linear-gradient(127deg, #fff 0%, #fff 91%);
    }

    &:hover h2 {
      color: #fff;
    }

    &:hover p {
      color: #f7f8ff;
    }
  }
}

// RESPONSIVENESS
@media only screen and (max-width: 821px) {
  .servicesPage {
    .servicesPage__boxes {
      grid-template-columns: repeat(1, 1fr);
    }

    &__item {
      display: block;
      margin: 0 auto;
    }
  }
}
