/* 
---------------------------------------------
header
--------------------------------------------- 
*/
.header-area {
  position: fixed;
  top: 0px;
  // left: 0px;
  width: 100%;
  // padding: 1rem 2rem;
  padding: 20px;
  // right: 0px;
  z-index: 1000;
  // height: 100px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-area.scrolled {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-area.switched {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-area .main-nav .logo {
  float: left;
  // margin-top: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-area .main-nav .logo img {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-area .main-nav .dark-logo {
  display: none;
}

.header-area .main-nav .nav {
  float: right;
  // margin-top: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-area .main-nav .nav li {
  margin-left: 35px;
}

.header-area .main-nav .nav li a {
  position: relative;
  display: block;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 36px;
  line-height: 36px;
  border: transparent;
}

.header-area .main-nav .nav .main-nav__links {
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease;
  }
}

.active {
  color: #007bff; /* Active color */
  font-weight: bold;
}

.header-area .main-nav .nav .main-nav__links:hover::after {
  width: 100%;
}

.header-area .main-nav .nav li a:hover {
  color: #f7f8ff;
}

.header-area .main-nav .nav li a.btn-nav-line {
  border: 1px solid #fff;
  width: 140px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-area .main-nav .nav li a.btn-nav-line:hover {
  background: #fff;
  color: #4886ff;
}

.header-area .main-nav .menu-trigger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 23px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 40px;
  display: none;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #3b566e;
  display: block;
  position: absolute;
  width: 26px;
  height: 2px;
  left: 0;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #3b566e;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}

.header-area .main-nav .menu-trigger span:after {
  width: 22px;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  content: "";
}

.header-area .main-nav .menu-trigger span {
  top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
  background-color: transparent;
  width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: #3b566e;
}

.header-area .main-nav .menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: #3b566e;
}

.header-area.header-sticky {
  background: #fff;
  height: 80px;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
}

.header-area.header-sticky .logo {
  margin-top: 22px;
}

.header-area.header-sticky .light-logo {
  display: none;
}

.header-area.header-sticky .nav {
  margin-top: 20px;
}

.header-area.header-sticky .nav li a {
  color: #3b566e;
}

.header-area.header-sticky .nav li a:hover {
  color: #3b566e;
}

.header-area.header-sticky .nav li a.btn-nav-line {
  border: 1px solid #4886ff;
  color: #4886ff;
}

@media only screen and (max-width: 1200px) {
  .header-area .main-nav .nav li {
    margin-left: 15px;
  }
}

@media only screen and (max-width: 991px) {
  .header-area {
    padding: 0;
    background: #fff;
    height: 80px;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  }
  .header-area .container {
    padding: 0px;
  }
  .header-area .logo {
    margin-top: 22px;
    margin-left: 30px;
  }
  .header-area .light-logo {
    display: none;
  }
  .header-area .main-nav .dark-logo {
    display: block;
  }
  .header-area .main-nav .menu-trigger {
    display: block;
  }
  .header-area .main-nav {
    overflow: hidden;
  }
  .header-area .main-nav .nav {
    float: none;
    width: 100%;
    margin-top: 80px;
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
  }
  // TOGGLES THE MENU
  .header-area .main-nav .nav.open {
    display: block;
  }
  .header-area .main-nav .nav li {
    width: 100%;
    margin-left: 15px;
    background: #fff;
    margin: 0px;
    border-bottom: 1px solid #f5f5f5;
  }
  .header-area .main-nav .nav li a {
    height: 50px;
    line-height: 50px;
    padding: 0px;
    padding-left: 30px;
    border: none;
    background: #fff;
    color: #3b566e !important;
  }
  .header-area .main-nav .nav li a:hover {
    background: #f5f5f5;
  }
  .header-area .main-nav .nav li a.btn-nav-line {
    border: none;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: left;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }
}

@media (min-width: 992px) {
  .header-area .main-nav .nav {
    display: flex;
  }
}
