// ABOUT US START
.about-us {
  margin-top: 100px;
  margin-bottom: 100px;

  &__gallery {
    p {
      font-size: 16px;
      letter-spacing: 0.88px;
      line-height: 28px;
      color: #6f8ba4;
    }
  }

  &__images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;

    img {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 100%;
      border-radius: 8px;
      object-fit: cover;
    }
  }
}
// Responsiveness
@media only screen and (max-width: 545px) {
  .about-us {
    &__images {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
// Responsiveness
// ABOUT US END

// INNER PARALLAX START
.inner-parallax {
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 100px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  background-image: linear-gradient(
      127deg,
      rgba(0, 136, 204, 0.8) 0%,
      rgba(254, 127, 45, 0.8) 91%
    ),
    url("../../../public/assets/images/parallax.jpg");

  &__wrapper {
    text-align: center;

    p {
      margin-bottom: 60px;
      font-size: 22px;
      color: #fff;
    }
    a {
      display: block;
      margin: 0 auto;
      width: 225px;
      height: 45px;
      line-height: 45px;
      color: #fff;
      font-weight: 600;
      font-size: 13px;
      letter-spacing: 1px;
      border: 1px solid #fff;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
      background: transparent;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;

      &:hover {
        background: #fff;
        color: #4886ff;
      }
    }
  }
}
// INNER PARALLAX END
